.service{
    margin-left: -20px;
}
ul.list-conditional{
    list-style: none;
}
.radio-select{
    display: flex !important;
}
.btn-close{
    font-size: 25px;
    position: absolute;
    top: 71px;
    color: red;
    cursor: pointer;
   
}