

.fz-17 {
    font-size: 17px;
}

.title-body-edit-convestion {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.button-select-template {
    height: 35px;
}

.btn-delete-row-modal {
    font-size: 28px;
    color: #FE7C96;
    text-align: center;
    cursor: pointer;
}

.error {
    color: red;
}